@font-face {
    font-family: 'Arima Madurai';
    src: url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');
}

@keyframes animacionMenu {
    0%{
        height: 0px;
        transform: scaleY(0%);
    }

    100%{
        height: 100%;
        transform: scaleY(100%);
    }
}

body{
    background-color: black!important;
}

h1, p{
    color: white;
    font-family: 'Arima Madurai';
    font-weight: 900;
}

.bg-navbar{
    background-color: rgb(47, 47, 48);
}

.btn-success{
    background-color: black!important;
    border-color: white!important;
    
}

.btn-success:hover{
    background-color: white!important;
    border-color: black!important;
    color: black!important;
    font-weight: 500;
}

.card-title{
    font-weight: 700;
}

.card{
    border-color: rgb(122, 122, 122)!important;
    background-color: black!important;
}

#menu{
    visibility: hidden;
}

#menu:target{
    animation: animacionMenu ease-in 0.5s;
    visibility: visible;
}

#artistas:target #menu,
#contacto:target #menu {
    visibility: visible;
}