@font-face {
    font-family: 'Arima Madurai';
    src: url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');
}

body{
    background-color: black!important;
}

h1, p{
    color: white;
    font-family: 'Arima Madurai';
    font-weight: 900;
}

.bg-navbar{
    background-color: rgb(47, 47, 48);
}

.btn-success{
    background-color: black!important;
    border-color: white!important;
    
}

.btn-success:hover{
    background-color: white!important;
    border-color: black!important;
    color: black!important;
    font-weight: 500;
}

.card-title{
    font-weight: 700;
}

.card{
    border-color: rgb(122, 122, 122)!important;
    background-color: black!important;
}

#logoMenu{
    height: 80px;
}