*{
    box-sizing: border-box;
}

nav{
    width: 85%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav ul li{
    position: relative;
    width: 100px;
}

.primero{
    width: 50px;
    height: 50px;
    background-image: url("../img/inicioCompuesto.png");
    background-position: 0px;
}

.primero:hover{
    background-image: url("../img/inicioCompuesto.png");
    background-position: 50px;
}

.segundo{
    width: 50px;
    height: 50px;
    background-image: url("../img/editarCompuesto.png");
    background-position: 0px;
}

.segundo:hover{
    background-image: url("../img/editarCompuesto.png");
    background-position: 50px;
}

.tercero{
    width: 50px;
    height: 50px;
    background-image: url("../img/nuevoCompuesto.png");
    background-position: 0px;
}

.tercero:hover{
    background-image: url("../img/nuevoCompuesto.png");
    background-position: 50px;
}

.cuarto{
    width: 50px;
    height: 50px;
    background-image: url("../img/visualizarCompuesto.png");
    background-position: 0px;
}

.cuarto:hover{
    background-image: url("../img/visualizarCompuesto.png");
    width: 100px;
    height: 50px;
    background-position: 0px;
}

.quinto{
    width: 50px;
    height: 50px;
    background-image: url("../img/imagenCompuesto.png");
    background-position: 0px;
}

.quinto:hover{
    background-image: url("../img/imagenCompuesto.png");
    background-position: 50px;
}