*{
    box-sizing: border-box;
}

nav{
    width: 85%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

nav ul li{
    position: relative;
    display: inline-block;
}

nav ul li .imgtop{
    display: none;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul li:hover .imgtop{
    display: inline;
}