*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 209, 255);
}

nav{
    width: 85%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav ul li{
    position: relative;
    width: 100px;
}

.menu{
    width: 50px;
    height: 50px;
    background-image: url("../img/inicioCompuesto.png");
    background-position: 0px;
    animation-play-state: paused;
}

.menu:hover{
    background-image: url("../img/inicioCompuesto.png");
    width: 50px;
    height: 50px;
    background-position: 50px;
    animation: animaCaja 0.5s forwards;
    animation-play-state: running;
}

.menu .menu2{
    height: 0px;
    overflow: hidden;
    border-width: 0px;
    transition: all 0.5s;
    background-color: black;
    color: white;
    line-height: 0.5cm;
    margin-top: 49px;
    margin-left: 1px;
    display: inline-block;
    animation-play-state: paused;
}

.menu:hover .menu2{
    height: 100px;
    overflow: visible;
    display: inline-block;
    margin-top: 49px;
    animation: mostrarMenu 0.5s;
}

.submenu .submenu2{
    height: 0px;
    overflow: hidden;
    border-width: 0px;
    transition: all 0.5s;
    background-color: white;
    color: black;
    line-height: 0.5cm;
    margin-left: -40px;
    display: inline-block;
}

.submenu:hover .submenu2{
    height: 60px;
    overflow: visible;
    display: inline-block;
    margin-left: -40px;
    line-height: 0.5cm;
}

@keyframes mostrarMenu {
    0%{
        opacity: 0%;
    }
    99%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes animaCaja{
    0%{
        transform: rotateZ(0deg);
        transform: scale(100%);
    }

    50%{
        transform: scale(0%);
        background-position: 0px;
        transform: rotateZ(180deg);
    }

    60%{
        transform: scale(20%);
        background-position: 50px;
        transform: rotateZ(200deg);
    }

    100%{
        transform: rotateZ(360deg);
        transform: scale(100%);
        background-position: 50px;
    }
}